@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    ViewBag.BodyClassName = "password-page";   
}

<div class="small-container content-middle">
    <div class="small-form">            
        <h4>@ViewData["Title"]</h4>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
