@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    ViewBag.BodyClassName = "forgotten-password-page";    
}
<div class="small-container content-middle">
    <div class="small-form">            
        <h4>@ViewData["Title"]</h4>
        <div asp-validation-summary="All" class="text-danger"></div>          
            <form method="post">
                <div class="form-group has-feedback has-feedback-left">
                    <input asp-for="Input.Email" class="form-control input-xlg" placeholder="Email">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>                    
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-xlg">Submit</button>
                </div>
            </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
