@{
    ViewData["Title"] = "dotnet pwa";
    ViewBag.BodyClassName = "home-page";
}
<div class="medium-container content-middle">
    <div class="small-form">            
        <h1>@ViewData["Title"]</h1>
        <p>This is a simple example of using ASP.NET Core with PWA, Identity, MySQL and Azure</p>
    </div>
</div>